              <div class="col-lg-6">
				  <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#Markdown">
                      Markdown
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#RegEx">
                      RegEx
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#ARM">
                      ARM
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#UNIX">
                      UNIX/Linux
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#iOS">
                      iOS Dev
                    </a>
                  </li>                  
		  <li>
                    <a href="/categories.html#OS_X">
                      OS X Dev
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#Web">
                      Web Dev
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#Net">
                      Network
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
