              <div class="col-lg-6">
				  <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#markdown">
                      Markdown
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#regex">
                      RegEx
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#arm">
                      ARM
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#unix">
                      UNIX
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#linux">
                      Linux
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#haskell">
                      Haskell
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#c++">
                      C++
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#qt">
                      QT
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#mfc">
                      MFC
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#assembly">
                      Assembly
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#other">
                      Other
                    </a>
				</li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#ios">
                      iOS
                    </a>
				</li>  
                  <li>
                    <a href="/categories.html#mac">
                      Mac
                    </a>
				</li>                  
				  <li>
                    <a href="/categories.html#j2ee">
                      J2EE
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#python">
                      Python
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#perl">
                      Perl
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#ruby">
                      Ruby
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#scheme">
                      Scheme
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#c">
                      C
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#git">
                      Git
                    </a>
				</li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
