              <div class="col-lg-6">
				  <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#Markdown">
                      Markdown
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#RegEx">
                      RegEx
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#ARM">
                      ARM
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#UNIX">
                      UNIX/Linux
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#C++">
                      C++/QT/MFC
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#Assembly">
                      Assembly
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#Other">
                      Others
                    </a>
				</li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#iOS">
                      iOS/OS X
                    </a>
                  </li>                  
				  <li>
                    <a href="/categories.html#J2EE">
                      Java EE
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#Python">
                      Python
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#Perl">
                      Perl
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#Ruby">
                      Ruby
                    </a>
				</li>
                  <li>
                    <a href="/categories.html#Scheme">
                      Lisp/Scheme Lisp
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
