<ul class="list-unstyled">
              <li>
                <a href="https://github.com/">
                  GitHub
                </a>
              </li>
              <li>
                <a href="https://developer.apple.com/sample-code/">
                  Apple Sample Code
                </a>
			</li>	
              <li>
                <a href="https://bitbucket.org/">
                  Bitbucket.org
                </a>
              </li> 
               <li>
                <a href="https://news.ycombinator.com/">
                  Hacker News
                </a>
              </li>        
              <li>
                <a href="http://www.stackoverflow.com/">
                  Stack Overflow
                </a>
              </li>
              <li>
                <a href="http://developer.android.com/">
                  Android Developer
                </a>
              </li>
              <li>
                <a href="http://blog.jobbole.com/">
                  Jobbole
                </a>
              </li>
              <li>
                <a href="http://99u.com/">
                  99U
                </a>
              </li>
              <li>
                <a href="http://doc.rubyfans.com">
                  Ruby Docs
                </a>
			</li>	
              <li>
                <a href="http://www.therestartpage.com">
                  There Start Page
                </a>
			</li>	
              <li>
				  <a href="http://www.online-convert.com">
                  Online Convert
                </a>
			</li>
              <li>
				  <a href="http://www.onevcat.com">
                  OneV's Den
                </a>
			</li>
              <li>
				  <a href="http://www.w3school.com.cn">
                  W3School
                </a>
			</li>
              <li>
				  <a href="https://developer.apple.com/app-store/review/">
                  Apple App Review
                </a>
			</li>	
              <li>
				  <a href="http://msdn.itellyou.cn/">
                  I Tell You
                </a>
			</li>			
            </ul>
