<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.title }} - {{ site.title }} - {{ site.author }}({{ site.email }})">
    <title>
		{{ page.title }} - {{ site.title }}
	</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header class="without-description">
        <h1>Meniny.cn</h1>
        <p></p>
        <p class="view"><a href="http://www.meniny.cn/">Meniny.cn <small>What we think, we become.</small></a></p>
        <ul>
          <li><a href="/categories.html">View the <strong>Categories</strong></a></li>
          <li><a href="/faqs.html">View the <strong>FAQs</strong></a></li>
          <li><a href="/about.html">View the <strong>Info</strong></a></li>
        </ul>
      </header>
      <section>
		  
		  <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          {{ content }}
	  </div>
	  
      </section>
    </div>
    <footer>
      <p>Powered By <a href="http://www.meniny.cn/">Meniny</a></p>
      <p>Hosted on GitHub &mdash; <a href="https://github.com/Meniny">Meniny on Github</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
