<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

	<link href="/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" id="changecss"/>
<!-- 	<link href="/assets/css/colors-dark.css" rel="stylesheet" /> -->
	
<script language="javascript">
		var nightmode = '0';
        function change(num){
			flag = '';
            switch(num){
                case 1:flag = "colors-light.css";nightmode = 'no';break;
                case 2:flag = "colors-dark.css";nightmode = 'yes';break;
                default:flag = "colors-light.css";nightmode = 'no';break;
            }
            document.getElementById('changecss').href = '/assets/css/' + flag;
			
			document.getElementById('argshome').href = '/?nightmode=' + nightmode;
			document.getElementById('argscategories').href = '/categories?nightmode=' + nightmode;
			document.getElementById('argstags').href = '/tags?nightmode=' + nightmode;
			document.getElementById('argsarchives').href = '/archives?nightmode=' + nightmode;
			document.getElementById('argslinks').href = '/links?nightmode=' + nightmode;
			document.getElementById('argsfaqs').href = '/faqs?nightmode=' + nightmode;
			document.getElementById('argsconsole').href = '/console?nightmode=' + nightmode;
			document.getElementById('argsabout').href = '/about?nightmode=' + nightmode;
			
			document.getElementById('argsposttitle').href = '{{ post.external-url }}' + nightmode;
			
			document.getElementById('argsnextpage').href = '/page{{paginator.previous_page}}/?nightmode=' + nightmode;
			document.getElementById('argsprepage').href = '/page{{paginator.next_page}}/?nightmode=' + nightmode;
			document.getElementById('argsnextpost').href = '{{page.previous.url}}/?nightmode=' + nightmode;
			document.getElementById('argsprepost').href = '{{page.next.url}}/?nightmode=' + nightmode;
        }
		
		function modechange(){
			var today = new Date();
			var hour = today.getHours();
			if (hour > 7 && hour < 20) {
				change(1);
			} else {
				change(2);
			}
		}
		
		function judgeArg() {
			urlinfo = window.location.href; //获取当前页面的url 
			len = urlinfo.length;//获取url的长度 
			offset = urlinfo.indexOf("?");//设置参数字符串开始的位置 
			newsidinfo = urlinfo.substr(offset,len)//取出参数字符串 这里会获得类似“id=1”这样的字符串 
			newsids = newsidinfo.split("=");//对获得的参数字符串按照“=”进行分割 
			newsid = newsids[1];//得到参数值 
			if (newsid == 'yes') {
				change(2);
				alert("yes");
			} else if (newsid == 'no') {
				change(1);
				alert("no");
			} else {
				modechange();
				alert("auto");
			}
		}
		
		window.onload=judgeArg();
		
	</script>

</head>

<body>

  <header id="header">
    <h1><a href="/" class="icon-sun"> {{ site.name }}</a></h1><!---->
    <p>{{ site.description }}</p>
  </header>



  <div id="page">



    <div id="sidebar">
      <nav>
        <ul>
          <li><a href="/" id="argshome">Home</a></li>
          <li><a href="/categories" id="argscategories">Categories</a></li>
          <li><a href="/tags" id="argstags">Tags</a></li>
          <li><a href="/archives" id="argsarchives">Archive</a></li>
          <li><a href="/links" id="argslinks">Links</a></li>
          <li><a href="/faqs" id="argsfaqs">FAQs</a></li>
		  <li><a href="/console" id="argsconsole">Console</a></li>
          <li><a href="/about" id="argsabout">About</a></li>
          <li><a href="/feed.xml">RSS Feed</a></li>
		  <br/>
		  <li><a href="javascript:change(1);">☀︎ Day</a></li>
		  <li><a href="javascript:change(2);">☾ Night</a></li>
        </ul>
      </nav>
    </div>

    <div id="content">
      {{ content }}
	</div>
		
  </div>

  <footer id="footer">
	<center>
    <p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.name }}.</p>
	<p class="authorInfo">Powered by <a href="http://www.meniny.cn/">Meniny</a>, Hosted on <a href="https://www.github.com/Meniny">Github</a></p>
	</center>
  </footer>

<!--   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
  <script src="/assets/js/jquery.mobilemenu.min.js"></script>

  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>
 
</body>
</html>