---
layout: default
---
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}
	<p class="meta"><span class="pagedate">{{ page.date | date: "%b %d, %Y" }} | Category: <a href="/categories#{{ post.category }}">{% if page.category == 'ios' %}iOS{% else %}{% if page.category == 'mfc' %}MFC{% else %}{% if page.category == 'unix' %}UNIX&frasl;Linux{% else %}{% if page.category == 'php' %}PHP{% else %}{% if cat[0] == 'j2ee' %}Java EE{% else %}<i style="text-transform:capitalize;">{{ page.category }}</i>{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}</a>{% if page.tags.size %} | Tags: {% for tag in page.tags %}<a href="/tags#{{ tag[0] }}">{{ tag[0] }}  </a>{% endfor %}{% endif %} | {{ page.content | number_of_words }} words</span></p>
	<hr><!--  Tags: {{ page.tags | join: ', ' }} {% endif%}  -->
	<div class="page-content">{{ content }}</div>
	<!-- Author -->
	<br/>
	<div style="margin-top:10px;margin-bottom:10px">
	  {%if page.previous%}
	  <span class="next">
	    Previous：
	    <a href="{{page.previous.url}}">
	      {{page.previous.title}}
	    </a>
	  </span>
	  {%endif%} 
	  {%if page.next%}
	  <span class="prev">
	    Next：
	    <a href="{{page.next.url}}">
	      {{page.next.title}}
	    </a>
	  </span>
	  {%endif%}
	</div>
	<hr>
	
	<!-- Blog Comments -->
	<div class="media">
	  {% include comment.html %} 
	</div>

</article>