---
layout: default
---
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}
	<p class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }} | Category: {% if post.category == 'ios' %}iOS{% else %}{% if post.category == 'mfc' %}MFC{% else %}{% if post.category == 'unix' %}UNIX&frasl;Linux{% else %}{% if post.category == 'php' %}PHP{% else %}{% if cat[0] == 'j2ee' %}Java EE{% else %}<i style="text-transform:capitalize;">{{ post.category }}</i>{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% if page.tags.size %} | Tags: {{ page.tags | join: ', ' }} {% endif%} | {{ page.content | number_of_words }} words</span></p>
	<hr>
	<div class="post-content">{{ content }}</div>
	<!-- Author -->
	<br/>
	<div style="margin-top:10px;margin-bottom:10px">
	  {%if page.previous%}
	  <span class="next">
	    Previous：
	    <a href="{{page.previous.url}}">
	      {{page.previous.title}}
	    </a>
	  </span>
	  {%endif%} 
	  {%if page.next%}
	  <span class="prev">
	    Next：
	    <a href="{{page.next.url}}">
	      {{page.next.title}}
	    </a>
	  </span>
	  {%endif%}
	</div>
	<hr>
	
	<!-- Blog Comments -->
	<div class="media">
	  {% include comment.html %} 
	</div>

</article>